<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="cuentaForm"  novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input formControlName="nombres" type="text"  readonly="readonly"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos" type="text"  readonly="readonly"></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"  readonly="readonly"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input formControlName="ciudad" type="text"  readonly="readonly"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" routerLink="/cuenta/pagos/{{cid}}" >Registrar Pago</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-toolbar>
    <ion-title>Historial de pagos</ion-title>
  </ion-toolbar>
  <ion-grid>

    <ion-row *ngFor="let pagos of pago">
      <ion-col>
        <div>Fecha: {{pagos.fecha | date: 'dd/MM/YYYY'}}</div>
        <div><p>Hora: {{pagos.fecha | date: 'HH:mm'}}</p></div>
      </ion-col>
      <ion-col>
        <div align="right">Bs{{ pagos.montoBs }}</div>
        <div align="right"><p>$us{{ pagos.montoSus }}</p></div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
