<ion-header>
  <ion-toolbar>
    <ion-title>pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="pagoForm"  (ngSubmit)="crearPago()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating"  >Monto Bs</ion-label>
      <ion-input  type="number" formControlName="montoBs"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"  >Monto $us</ion-label>
      <ion-input  type="number" formControlName="montoSus"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" >Registrar Pago</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
