<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Cobros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row *ngFor="let pagos of pago">
      <ion-col>
        <div>Fecha: {{pagos.fecha | date: 'dd/MM/YYYY'}}</div>
        <div><p>Hora: {{pagos.fecha | date: 'HH:mm'}}</p></div>
      </ion-col>
      <ion-col>
        <div align="right">Bs</div>
        <div align="right"><p>$us</p></div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
